
body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#lucky,
#unlucky,
#whatever,
#return {
  display:none;
  margin-top: 20px;
}

label {
  font-weight: normal;
}

.well {
  background-color: #0000ff44;
}

img {
  border-radius: 20px;
}

#return {
  font-size: 1.5em;
  text-align: center;
}

#clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

#clickable {
  font-weight: bold;
}
